*{
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}
body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  color: #333;
  background-color: rgb(255, 255, 255);
}
.mode {
  position: absolute;
}
.change {
  cursor: pointer;
  border: 1px solid #555;
  border-radius: 20%;
  width: 20px;
  text-align: center;
  padding: 5px;
  margin-left: 2px;
}
.dark{
  background-color: rgb(61, 59, 59);
  color: #e6e6e6;
}
#main-container {
  display: flex;
  justify-content: space-around;
  width: 80vw;
  margin: 30px 30px;
}
#flag-container {
  text-align: center;
}
#flag-container a{
  text-decoration: none;
  border: 1px solid black;
  padding: 5px 10px;
  cursor:pointer;
  background-color: rgb(135, 173, 57);
  color: black;
  font-weight: 700;
}
#flag-container a:hover{
  background-color: black;
  color: white;
}
#flag-container img {
  object-fit: cover;
  height: 40vh;
  padding: 0;
  box-shadow: 3px 3px 5px 5px rgb(71, 68, 68);
}
#info-container select {
  margin: 20px auto;
  padding: 5px;
  min-width: 100%;
  color: #333;
  font-size: 15px;
  font-weight: 600;
  text-align-last: center;
  cursor: pointer;
}
#info-container p {
  padding: 0 10px;
  font-weight: 600;
}
#info-container p span {
  font-weight: normal;
}
#border img{
  object-fit: cover;
  height: 20vh;
  margin: 5px 5px;
  padding: 0;
  border: 0.1px solid #555;
}
@media screen and (max-width: 992px) {
  body { font-size: 3vw; }
  #flag-container img { height: 20vh; }
  #main-container { display: unset; }
  *{ padding: 20px; }
  #border img{ height: 10vh; }
  #info-container select { font-size: 25px; }
}